<form method ="post" action = "/users/signin">
  <label for="firstname">Username:</label>
  <input name = "firstname" id = "username"/><br>
  <label for="firstname">Password:</label>
  <input  name = "password" id ="psw"/><br>
  <button type="submit">Sign In</button>
</form>

